#red {
color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: rgba(255, 255, 0, 0.823);
}

img { 
    height: 200px;
    width: 200px;
}

.color-title {
    font-weight: normal;
}

